h2{
  margin: 0;
  font-size: 28px;
  font-weight: 500;
}

i {
  padding: 4px 12px;
  font-size: 24px;
}

.header-container {
  margin: 0;
  padding: 12px 20px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .header-profile {
    display: flex;
    align-items: center;

    .dropdown-btn {
      cursor: pointer;
    }

    .dropdown-btn:hover {
      color: rgba(0, 0, 0, 0.3);
    }

    .dropdown-item-btn {
      display: flex;
      align-items: center;
    }
  }
}